a {
    text-decoration: none;
    color: #212529;
}

body {
    font-family:'Noto Sans KR', sans-serif;
    font-size: 16px;
}

img {
    vertical-align: middle;
}

.center {
    max-width: 1420px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #212529;
    padding: 60px 0 40px 0;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

i {
    font-family: "fontello";
    color: #495057;
    font-size: 40px;
}


/* Reset */
html {
    overflow-y: scroll;
    font-size: 13px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
input {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    *word-break: break-all;
    -ms-word-break: break-all;
}

img,
fieldset,
iframe {
    border: 0 none;
    padding: 0;
}

li {
    list-style: none;
}

input,
select,
button {
    vertical-align: middle;
}

i,
em,
address {
    font-style: normal;
}

label,
button {
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
}


button * {
    position: relative;
}

button img {
    left: -3px;
    *left: auto;
}

html:first-child select {
    height: 20px;
    padding-right: 6px;
}

option {
    padding-right: 6px;
}

hr {
    display: none;
}

legend {
    *width: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header,
footer,
nav,
section,
aside {
    display: block;
}

/* clearfix */
.clearFix {
    *zoom: 1;
}

/* Hide */
.blind {
    display: block;
    position: absolute;
    left: 0;
    top: -9999em;
}

/* Skip */
.skip a {
    position: absolute;
    left: 0;
    top: -9999em;
    z-index: 9999;
    display: block;
    width: 100%;
    background-color: #039;
    color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
    top: 0;
}
