a {
  text-decoration: none;
  color: #212529;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

img {
  vertical-align: middle;
}

.center {
  max-width: 1420px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #212529;
  padding: 60px 0 40px 0;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

i {
  font-family: "fontello";
  color: #495057;
  font-size: 40px;
}

/* Reset */
html {
  overflow-y: scroll;
  font-size: 13px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  *word-break: break-all;
  -ms-word-break: break-all;
}

img,
fieldset,
iframe {
  border: 0 none;
  padding: 0;
}

li {
  list-style: none;
}

input,
select,
button {
  vertical-align: middle;
}

i,
em,
address {
  font-style: normal;
}

label,
button {
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
}

button * {
  position: relative;
}

button img {
  left: -3px;
  *left: auto;
}

html:first-child select {
  height: 20px;
  padding-right: 6px;
}

option {
  padding-right: 6px;
}

hr {
  display: none;
}

legend {
  *width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header,
footer,
nav,
section,
aside {
  display: block;
}

/* clearfix */
.clearFix {
  *zoom: 1;
}

/* Hide */
.blind {
  display: block;
  position: absolute;
  left: 0;
  top: -9999em;
}

/* Skip */
.skip a {
  position: absolute;
  left: 0;
  top: -9999em;
  z-index: 9999;
  display: block;
  width: 100%;
  background-color: #039;
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
  top: 0;
}

header {
  display: none;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1000;
  box-shadow: 1px 1px 3px #adb5bd;
}
@media screen and (max-width: 768px) {
  header {
    min-width: 100%;
    height: 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    min-width: 100%;
    height: 60px;
  }
}
header > .center {
  position: relative;
}
header .logo {
  text-align: center;
  line-height: 70px;
}
@media screen and (max-width: 768px) {
  header .logo {
    line-height: 50px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .logo {
    line-height: 50px;
  }
}
header .logo img {
  width: 140px;
}
@media screen and (max-width: 768px) {
  header .logo img {
    width: 110px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .logo img {
    width: 110px;
  }
}
header i {
  display: block;
  width: 32px;
}
header .hamBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  header .hamBtn {
    display: block;
    position: absolute;
    top: -6px;
    left: 20px;
  }
  header .hamBtn img {
    width: 32px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .hamBtn {
    display: block;
    position: absolute;
    top: -6px;
    left: 20px;
  }
  header .hamBtn img {
    width: 32px;
  }
}
header .search {
  position: absolute;
  top: 4px;
  right: 0px;
}
@media screen and (max-width: 768px) {
  header .search {
    top: -6px;
    right: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .search {
    top: -6px;
    right: 16px;
  }
}
header .menu {
  position: absolute;
  top: 0px;
  z-index: 500;
}
@media screen and (max-width: 768px) {
  header .menu {
    top: 8vh;
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .menu {
    top: 8vh;
    display: none;
  }
}
header .menu > li {
  float: left;
  padding: 0 24px;
  line-height: 80px;
}
@media screen and (max-width: 768px) {
  header .menu > li {
    float: none;
    position: relative;
    right: 100px;
    opacity: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .menu > li {
    float: none;
  }
}
header .menu > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #192F6E;
  position: relative;
}
header .menu > li > a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #192F6E;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.8s;
}
header .menu > li:hover .sub {
  display: block;
}
header .menu > li:hover .subImgWrap {
  display: none;
}
header .menu > li:hover > a::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  header .menu > li:hover > a::after {
    width: 0%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .menu > li:hover > a::after {
    width: 0%;
  }
}
header .menu .sub {
  display: none;
  position: absolute;
  left: 0;
  z-index: 50;
  width: 100%;
}
@media screen and (max-width: 768px) {
  header .menu .sub {
    position: static;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .menu .sub {
    position: static;
  }
}
header .menu .sub > li {
  text-align: left;
  line-height: 4;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  header .menu .sub > li {
    line-height: 2.5;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .menu .sub > li {
    line-height: 2.5;
  }
}
header .menu .sub > li:hover .subImgWrap {
  display: block;
}
@media screen and (max-width: 768px) {
  header .menu .sub > li:hover .subImgWrap {
    display: none;
  }
}
header .menu .sub > li:hover > a {
  color: #192F6E;
  transition: 0.3s;
}
header .menu .sub > li > a {
  font-size: 18px;
  font-weight: 600;
}
header .menu .sub .subImgWrap {
  display: none;
  position: absolute;
  top: 30px;
  left: 250px;
}
header .menu .sub .subImgWrap .subImg {
  display: flex;
  flex-wrap: nowrap;
}
header .menu .sub .subImgWrap .subImg > li {
  float: left;
  padding: 0 40px;
  opacity: 0;
  position: relative;
  top: 100px;
}
header .menu .sub .subImgWrap .subImg > li a:hover > p {
  color: #192F6E;
  transform: scale(1.1);
  transition: 0.8s;
}
header .menu .sub .subImgWrap .subImg > li a:hover img {
  transform: scale(1.05);
  transition: 0.8s;
}
header .menu .sub .subImgWrap .subImg > li p {
  text-align: center;
  line-height: 1.2;
  word-break: keep-all;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}
header .menu .sub .subImgWrap .subImg > li img {
  width: 200px;
}
header .bg {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 520px;
  background-color: white;
  z-index: 1;
  box-shadow: 1px 1px 3px #adb5bd;
}
@media screen and (max-width: 768px) {
  header .bg {
    top: 60px;
    height: 80vh;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .bg {
    top: 60px;
    height: 80vh;
  }
}

#container {
  position: relative;
}
#container p {
  color: #192F6E;
}
#container .hTitle {
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  #container .hTitle {
    font-size: 28px;
    padding: 12px 0 4px;
  }
}
#container .subTitle {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #container .subTitle {
    font-size: 24px;
    padding-bottom: 10px;
  }
}
#container .textBox {
  font-size: 18px;
  line-height: 1.6;
  word-break: keep-all;
  color: #212529;
}
#container .gIndex {
  padding-top: 100px;
  height: 100vh;
  background-image: url(../images/kingGillete.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #container .gIndex {
    background-image: url(../images/m_gHistory.jpg);
  }
}
#container .gIndex p {
  text-align: center;
  font-size: 18px;
  color: #0B1432;
}
#container .gIndex .gTitle {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 5vh;
}
#container .gIndex .gText2 {
  padding: 5vh 0 2vh;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  #container .gIndex .gText2 {
    padding: 3vh 0 2vh;
  }
}
#container .gIndex .sign {
  padding: 1vh 0;
}
#container .gIndex .sign img {
  width: 300px;
}
@media screen and (max-width: 768px) {
  #container .gIndex .sign img {
    display: none;
  }
}
#container .bladeHistory {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 500;
}
@media screen and (max-width: 768px) {
  #container .bladeHistory {
    top: 110vh;
    word-break: keep-all;
    z-index: 5;
  }
}
#container .bladeHistory ul {
  display: flex;
  justify-content: center;
  width: 90vw;
}
@media screen and (max-width: 768px) {
  #container .bladeHistory ul {
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 320px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #container .bladeHistory ul {
    justify-content: space-between;
    width: 90vw;
  }
}
#container .bladeHistory ul li {
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  #container .bladeHistory ul li {
    width: calc(100%/4);
    box-sizing: border-box;
    padding: 0px;
  }
  #container .bladeHistory ul li img {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #container .bladeHistory ul li {
    width: calc(100%/8);
  }
}
#container .bladeHistory ul li a:hover img {
  transform: scale(1.05);
  transition: 1s;
}
#container .bladeHistory ul li a:hover p {
  font-size: 20px;
  transition: 1s;
}
#container .bladeHistory ul li p {
  color: #192F6E;
}
#container .h1900 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1900.webp);
}
@media screen and (max-width: 768px) {
  #container .h1900 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1900 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1900 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
@media screen and (max-width: 768px) {
  #container .h1900 {
    margin-top: 450px;
  }
}
#container .h1920 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1920.webp);
}
@media screen and (max-width: 768px) {
  #container .h1920 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1920 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1920 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1957 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1957.webp);
}
@media screen and (max-width: 768px) {
  #container .h1957 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1957 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1957 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1965 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1965.webp);
}
@media screen and (max-width: 768px) {
  #container .h1965 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1965 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1965 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1971 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1971.webp);
}
@media screen and (max-width: 768px) {
  #container .h1971 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1971 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1971 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1977 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1977.webp);
}
@media screen and (max-width: 768px) {
  #container .h1977 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1977 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1977 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1985 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1985.webp);
}
@media screen and (max-width: 768px) {
  #container .h1985 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1985 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1985 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1990 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1990.webp);
}
@media screen and (max-width: 768px) {
  #container .h1990 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1990 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1990 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h1998 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_1998.webp);
}
@media screen and (max-width: 768px) {
  #container .h1998 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h1998 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h1998 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h2010 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_2010.webp);
}
@media screen and (max-width: 768px) {
  #container .h2010 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h2010 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h2010 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h2014 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_2014.webp);
}
@media screen and (max-width: 768px) {
  #container .h2014 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h2014 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h2014 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
#container .h2016 {
  height: 40vh;
  padding-top: 100px;
  margin: 40px 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/history_2016.webp);
}
@media screen and (max-width: 768px) {
  #container .h2016 {
    margin: 20px 0 20vh;
    background-position: center center;
    background-size: contain;
  }
}
#container .h2016 .textWrap {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #container .h2016 .textWrap {
    top: 60%;
    z-index: 5;
  }
}
@media screen and (max-width: 768px) {
  #container .h2016 {
    margin-bottom: 350px;
  }
}

footer {
  background-color: #0B1432;
  position: relative;
}
footer .footLogo {
  padding: 40px 0 20px;
  text-align: center;
}
footer .footLogo img {
  width: 140px;
}
@media screen and (max-width: 768px) {
  footer .footLogo {
    padding: 20px 0 40px;
  }
  footer .footLogo img {
    width: 100px;
  }
}
footer .footLeft {
  float: left;
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  footer .footLeft {
    position: relative;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
footer .footLeft ul {
  float: left;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  footer .footLeft ul {
    padding: 0 4vw;
  }
}
footer .footLeft ul li {
  font-size: 18px;
  line-height: 3;
}
footer .footLeft ul li a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  footer .footLeft ul li {
    font-size: 16px;
  }
  footer .footLeft ul li a {
    word-break: keep-all;
  }
}
footer .footRight {
  float: right;
}
footer .footRight ul li {
  float: left;
  padding: 12px;
}
footer .footRight ul li img {
  width: 40px;
}
@media screen and (max-width: 768px) {
  footer .footRight {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
  }
}
footer address {
  padding: 40px 0 10px;
  text-align: center;
  color: white;
}
footer address span {
  padding: 0 5px;
}
@media screen and (max-width: 768px) {
  footer address {
    font-size: 14px;
  }
  footer address span {
    display: block;
    padding: 2px 0;
  }
}

aside {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  aside {
    right: 10px;
    bottom: 10px;
  }
}
aside p {
  padding: 4px 0;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
}
aside span {
  display: block;
  color: white;
}