/* Reset */
html {
    overflow-y: scroll;
    font-size: 14px;
  }
  
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  form,
  fieldset,
  p,
  button,
  input {
    margin: 0;
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  input,
  button {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #444;
  }
  
  body {
    background-color: #fff;
    *word-break: break-all;
    -ms-word-break: break-all;
  }
  
  img,
  fieldset,
  iframe {
    border: 0 none;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  input,
  select,
  button {
    vertical-align: middle;
  }
  
  img {
    vertical-align: top;
  }
  
  i,
  em,
  address {
    font-style: normal;
  }
  
  label,
  button {
    cursor: pointer;
  }
  
  button {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #222;
    text-decoration: none;
  }
  
  button * {
    position: relative;
  }
  
  button img {
    left: -3px;
    *left: auto;
  }
  
  html:first-child select {
    height: 20px;
    padding-right: 6px;
  }
  
  option {
    padding-right: 6px;
  }

  
  header,
  footer,
  nav,
  section,
  aside {
    display: block;
  }
  
  /* clearfix */
  .clearFix {
    *zoom: 1;
  }
  
  .clearFix:after {
    content: "";
    display: block;
    clear: both;
  }
  
  /* Hide */
  .blind {
    display: block;
    position: absolute;
    left: 0;
    top: -9999em;
  }
  
 