@import 'common';

// 변수
$메인컬러 : #0B1432;
$서브컬러 : #192F6E;

// mixin

@mixin BoxShadow {
    box-shadow: 1px 1px 3px #adb5bd;
}

@mixin commonHistory {
    height: 40vh;
    // width: 80%;
    padding-top: 100px;
    margin: 40px 0;
    position: relative;

    background : {
        position: center center;
        repeat: no-repeat;
        size: cover;
    }

    @include mobile768() {
        margin: 20px 0 20vh;
        background-position: center center;
        background-size: contain;
    }

    .textWrap {
        position: absolute;
        top: 10%;
        left: 10%;

        @include mobile768() {
            top: 60%;
            // text-align: center;
            z-index: 5;
        }
    }
}

@mixin mobile768 {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin mobile1024 {
    @media screen and (min-width:769px) and (max-width:1024px) {
        @content;
    }
}

// header
header {
    display: none;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1000;
    @include BoxShadow();

    @include mobile768() {
        min-width: 100%;
        height: 60px;
    }

    @include mobile1024() {
        min-width: 100%;
        height: 60px;
    }

    >.center {
        position: relative;
    }

    .logo {
        text-align: center;
        line-height: 70px;

        @include mobile768() {
            line-height: 50px;
        }

        @include mobile1024() {
            line-height: 50px;
        }


        img {
            width: 140px;

            @include mobile768() {
                width: 110px;
            }

            @include mobile1024() {
                width: 110px;
            }
        }
    }

    i {
        display: block;
        width: 32px;
    }

    .hamBtn {
        display: none;

        @include mobile768() {
            display: block;
            position: absolute;
            top: -6px;
            left: 20px;

            img {
                width: 32px;
            }
        }

        @include mobile1024() {
            display: block;
            position: absolute;
            top: -6px;
            left: 20px;

            img {
                width: 32px;
            }
        }

    }

    .search {
        position: absolute;
        top: 4px;
        right: 0px;

        @include mobile768() {
            top: -6px;
            right: 16px;
        }

        @include mobile1024() {
            top: -6px;
            right: 16px;
        }
    }

    .menu {
        position: absolute;
        top: 0px;
        z-index: 500;

        @include mobile768() {
            top: 8vh;
            display: none;
        }

        @include mobile1024() {
            top: 8vh;
            display: none;
        }

        >li {
            float: left;
            padding: 0 24px;
            line-height: 80px;

            @include mobile768() {
                float: none;
                position: relative;
                right: 100px;
                opacity: 0;
            }

            @include mobile1024() {
                float: none;
            }

            >a {
                font-size: 18px;
                font-weight: bold;
                color: $서브컬러;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    background-color: $서브컬러;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translate(-50%);
                    transition: 0.8s;
                }
            }

            &:hover .sub {
                display: block;
            }

            &:hover .subImgWrap {
                display: none;
            }

            &:hover>a::after {
                width: 100%;

                @include mobile768() {
                    width: 0%;
                }

                @include mobile1024() {
                    width: 0%;
                }
            }
        }

        .sub {
            display: none;
            position: absolute;
            left: 0;
            z-index: 50;
            width: 100%;

            //  background-color: yellowgreen;

            @include mobile768() {
                position: static;
            }

            @include mobile1024() {
                position: static;
            }

            >li {
                text-align: left;
                line-height: 4;
                padding-left: 24px;

                // background-color: yellowgreen;

                @include mobile768() {
                    line-height: 2.5;
                }

                @include mobile1024() {
                    line-height: 2.5;
                }

                &:hover .subImgWrap {
                    display: block;

                    @include mobile768() {
                        display: none;
                    }

                    @include mobile1024() {
                        //  display: block;
                    }
                }

                &:hover>a {
                    color: $서브컬러;
                    transition: 0.3s;
                }

                >a {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .subImgWrap {
                display: none;
                position: absolute;
                top: 30px;
                left: 250px;

                .subImg {
                    display: flex;
                    flex-wrap: nowrap;

                    >li {
                        float: left;
                        padding: 0 40px;
                        opacity: 0;
                        position: relative;
                        top: 100px;

                        a:hover>p {
                            color: $서브컬러;
                            transform: scale(1.1);
                            transition: 0.8s;
                        }

                        a:hover img {
                            transform: scale(1.05);
                            transition: 0.8s;
                        }

                        p {
                            text-align: center;
                            line-height: 1.2;
                            word-break: keep-all;
                            margin-top: 8px;
                            font-size: 16px;
                            font-weight: 500;
                        }

                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    .bg {
        display: none;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 520px;
        background-color: white;
        // background-color: khaki;
        z-index: 1;
        @include BoxShadow();

        @include mobile768() {
            top: 60px;
            // background-color: gray;
            height: 80vh;
        }

        @include mobile1024() {
            top: 60px;
            height: 80vh;
        }
    }
}

// container
#container {
    position: relative;
    p {
        color: $서브컬러;
    }

    .hTitle {
        font-size: 36px;
        font-weight: bold;
        padding: 20px 0;

        @include mobile768() {
            font-size: 28px;
            padding: 12px 0 4px;
        }
    }

    .subTitle {
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 20px;

        @include mobile768() {
            font-size: 24px;
            padding-bottom: 10px;
        }
    }

    .textBox {
        font-size: 18px;
        line-height: 1.6;
        word-break: keep-all;
        color: #212529;
    }

    .gIndex {
        padding-top: 100px;
        // width: 100%;
        height: 100vh;

        background : {
            image: url(../images/kingGillete.webp);
            position: center center;
            repeat: no-repeat;
            size: cover;
        }

        @include mobile768() {
            background-image: url(../images/m_gHistory.jpg);
        }


        p {
            text-align: center;
            font-size: 18px;
            color: $메인컬러;
        }

        .gTitle {
            font-size: 32px;
            font-weight: bold;
            padding-bottom: 5vh;
        }

        .gText2 {
            padding: 5vh 0 2vh;
            font-weight: 600;

            @include mobile768() {
                padding: 3vh 0 2vh;
            }
        }

        .sign {
            padding: 1vh 0;

            img {
                width: 300px;

                @include mobile768() {
                    display: none;
                }
            }
        }


    }

    .bladeHistory {
        position: absolute;
        top: 60vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 500;

        @include mobile768() {
            top: 110vh;
            word-break: keep-all;
            // background-color: khaki;
            z-index: 5;
        }


        ul {
            display: flex;
            justify-content: center;
            width: 90vw;

            @include mobile768() {
                justify-content: space-between;
                flex-wrap: wrap;
                box-sizing: border-box;
                width: 320px
            }

            @include mobile1024() {
                justify-content: space-between;
                width: 90vw;
            }

            li {
                padding: 0 20px;

                @include mobile768() {
                    width: calc(100%/4);
                    box-sizing: border-box;
                    padding: 0px;

                    img {
                        width: 100%;
                    }
                }

                @include mobile1024() {
                    width: calc(100%/8)
                }

                a:hover img {
                    transform: scale(1.05);
                    transition: 1s;
                }

                a:hover p {
                    font-size: 20px;
                    transition: 1s;
                }

                p {
                    color: $서브컬러;
                }
            }
        }
    }


    .h1900 {
        @include commonHistory();
        background-image: url(../images/history_1900.webp);

        @include mobile768() {
            margin-top: 450px;
        }
    }

    .h1920 {
        @include commonHistory();
        background-image: url(../images/history_1920.webp);
    }

    .h1957 {
        @include commonHistory();
        background-image: url(../images/history_1957.webp);
    }

    .h1965 {
        @include commonHistory();
        background-image: url(../images/history_1965.webp);
    }

    .h1971 {
        @include commonHistory();
        background-image: url(../images/history_1971.webp);
    }

    .h1977 {
        @include commonHistory();
        background-image: url(../images/history_1977.webp);
    }

    .h1985 {
        @include commonHistory();
        background-image: url(../images/history_1985.webp);
    }

    .h1990 {
        @include commonHistory();
        background-image: url(../images/history_1990.webp);
    }

    .h1998 {
        @include commonHistory();
        background-image: url(../images/history_1998.webp);
    }

    .h2010 {
        @include commonHistory();
        background-image: url(../images/history_2010.webp);
    }

    .h2014 {
        @include commonHistory();
        background-image: url(../images/history_2014.webp);
    }

    .h2016 {
        @include commonHistory();
        background-image: url(../images/history_2016.webp);

        @include mobile768() {
            margin-bottom: 350px;
        }
    }
}

// footer
footer {
    //    display: none;
    background-color: $메인컬러;
    position: relative;

    .footLogo {
        padding: 40px 0 20px;
        text-align: center;

        img {
            width: 140px;
        }

        @include mobile768() {
            padding: 20px 0 40px;

            img {
                width: 100px;
            }
        }
    }

    .footLeft {
        float: left;
        margin-left: 100px;

        @include mobile768() {
            position: relative;
            margin-left: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        ul {
            float: left;
            padding: 0 40px;

            @include mobile768() {
                padding: 0 4vw;
            }

            li {
                font-size: 18px;
                line-height: 3;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

            @include mobile768() {
                li {
                    font-size: 16px;

                    a {
                        word-break: keep-all;
                    }
                }

            }
        }
    }

    .footRight {
        float: right;

        ul {
            li {
                float: left;
                padding: 12px;

                img {
                    width: 40px;
                }
            }
        }

        @include mobile768() {
            //  background-color: khaki;
            margin: 0;
            padding: 0;
            position: absolute;
            top: -20%;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
        }
    }

    address {

        padding: 40px 0 10px;
        text-align: center;
        color: white;

        span {
            padding: 0 5px;
        }

        @include mobile768() {
            font-size: 14px;

            span {
                display: block;
                padding: 2px 0;
            }
        }
    }
}

aside {
    // display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    z-index: 1000;

    @include mobile768() {
        right: 10px;
        bottom: 10px;
    }

    p {
        padding: 4px 0;
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.8);


    }

    span {
        display: block;
        color: white;

    }
}