*{
    padding: 0;
    margin: 0;
}

#clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 48px;
    font-weight: 500;
    color: #fff;
}

.bg-img{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}